---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About this blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} currentPage="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption>
    </figure>

    <div>
      <h3>Me</h3>
      <p>So yeah, Rafael. Physicist, software developer bla bla bla.</p>
      <p>When I was a kid around 2004 I started learning HTML, Photoshop and Flash. I remember that I also studied javascript and PHP, but I cant honestly say I remember anything.</p>
      <p>Learning Action Script was not easy, specially since my english skills were basic null. But then I went to the University to study Physics and there I learned a lot about coding </p>
      <p>Learned the basics of C++ and some FORTRAN. I miss FORTRAN, its kinda awesome. Then some basic Python and I guess thats it?</p>
      <p>Now I <strong>came back</strong> to javascript and things started to click a lot better. Coding is kinda fun. </p>
    </div>

    <div>
      <h3>This website</h3>
      <p>Just a place to flex on how this website is currently built</p>
      <p>Previous version was Next / React</p>
      <p>Currently using bun</p>
      <p>Astro and some Svelte. Nice transitions</p>
      <p>Blog template, uses mdx to autogenerate pages</p>
      <p>Deploy by Vercel</p>
      <p>In the future I want some internationalization. And a Light Mode that I dont hate.</p>

    </div>

  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
