---
import SidebarLayout from '../layouts/SidebarLayout.astro';

const title = 'About';
const description = 'About this blog.';
const permalink = `${Astro.site.href}about`;
---

<SidebarLayout title={title} description={description} permalink={permalink}>
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/eu.png" alt="A stylized photo of me" width="330">
    </figure>

    <div>
      <p>
        Im Rafael and currently I'm a software engineer at
        <a href="https://www.quorum.us/" target="blank"> Quorum </a>.
      </p>
      <p>
        When I was a kid around 2004 I started learning HTML, Photoshop and Flash.
        I remember that I also studied javascript and PHP, but I cant honestly say I remember anything.</p>
      <p>
        Learning Action Script was not easy, specially since my english skills were basic null.
        But then I went to the University to study Physics and there I learned a lot about coding.
        Learned the basics of C++ and used a lot of FORTRAN to make scientific simulations
        and mathematical calculations.
      </p>
      <p>
        Now I <strong>came back</strong> to javascript and things started to click a lot better.
        Coding is kinda fun.
      </p>
    </div>

    <div>
      <h3>This website</h3>
      <p>
        This is a page where I can try new stuff in a live environment. The previous version of this blog
        was made using Next, because React was the only thing I knew. Now I remade the page using Astro
        because its seemed like a really interesting tool.
      </p>
      <p>
        I used the blog template <a> AstroWind </a>, which uses mdx to autogenerate pages.
        Every page feels like its loading instantaneously,
        probably due to the fact that they use so little javascript. And if there's the need
        for a more complex page I can easily use Svelte.
      </p>
      <p>
        The design was made with the help of <a href="https://v0.dev/r/L2oTkWeLzzc" > V0 </a>, the IA from
        Vercel that <strong> does not </strong> use stolen content.
      </p>
    </div>

  </div>
</SidebarLayout>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  h1 {
    color: var(--primary-color);
    margin-bottom: 2rem;
  }

  h3 {
    color: var(--primary-color);
    margin-top: 2rem;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 4rem 1rem 1rem;
    }
  }
</style>
