---
import Bio from '../components/Bio.astro';
---

<footer>
  <Bio />

  <span class="lastLine">
    &copy; {new Date().getFullYear()} rafaelcacilhas@gmail.com
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: ;
  }
  .lastLine{
    width: 100%;
  }
</style>
