---
import Bio from "../components/Bio.astro";
---

<footer>

  <span class="lastLine">
    &copy; {new Date().getFullYear()} rafaelcacilhas@gmail.com
  </span>
</footer>

<style>
  footer {
    width: 100%;
    color: var(--text-secondary);
    font-size: 0.8em;
    padding: 1rem 2rem 1rem 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .lastLine {
    width: 100%;
  }

  @media (max-width: 768px) {
    footer {
      padding: 1rem;
    }
  }
</style>
