---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  currentPage?: string;
}
const { title, description, permalink, currentPage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body>
    <Header currentPage={currentPage} />

    <main>
      <slot />
    </main>

    <Footer />

    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        min-width: 100vw;
        position: absolute;
      }

      main {
        flex: 1;
        position: relative;
        box-sizing: border-box;
        min-width: max-content;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </body>
</html>
